<div class="card col-md-6 mt-5" style="margin: 0 auto;">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="Email">Email</label>
            <input type="email" placeholder="Email" class="form-control" [(ngModel)]="email">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" placeholder="password" [(ngModel)]="password" class="form-control"/>
        </div>
        <div class="d-grid gap-2">
            <button  type="submit" class="btn btn-primary" (click)="Login()">Login</button>
        </div>
    </div>
</div>